POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB=cinedb
POSTGRES_PORT=5432
DATABASE_HOST=db
API_PORT = 8001

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DATABASE_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
